<div class="container">


    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Syllabus</h1></div>
        </div>
    </div>

    <div class="well outer-well">

        <div class="well">
            <div><h2>Academic Integrity</h2></div>
            <br/>
            CSE Department Academic Integrity Policy: <a
                href="http://www.cse.buffalo.edu/undergrad/policy_academic.php">
            http://www.cse.buffalo.edu/undergrad/policy_academic.php</a>

            <br/><br/>

            All submitted work must be of your own creation and you must not share your submission with anyone else. If
            any submission is very similar to code that has been submitted by another student
            or can be found online, it is in violation of this courses academic integrity policy and all students will
            be penalized whether they were cheating, or sharing their code with other students so they can cheat. If two
            submissions are similar beyond what is likely if the students worked independently, then both students are
            in
            violation of the academic integrity policy.
            <br/><br/>
            All violations will be result in:
            <br/><br/>

            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center alert alert-danger">
                        <h3 style="color:red">An F in CSE442.</h3>
                    </div>
                </div>
                <div class="col-sm-8"></div>
            </div>
            <br/>
            It is your responsibility to understand what constitutes an academic integrity violation. If you have
            any question whether something you are doing is a violation or not, ask for
            clarification <b>before receiving an F in the course</b>. I will not entertain excuses after you
            have been caught.

            <br/><br/>
            Examples of acceptable behavior:
            <ul>
                <li>Discussing an assignment with your classmates and brainstorming abstract solutions, then writing
                    code independently.
                </li>
                <li>Searching the Internet for supplementary material on the homework topics.</li>
                <li>Asking the teaching staff for clarification on a homework question.</li>
            </ul>


            Examples of <b>un</b>acceptable behavior:
            <ul>
                <li>Submitting code that you did not write.</li>
                <li>Allowing another student to see your code for an assignment.</li>
                <li>Collaborating with another student to write code together for an assignment.</li>
                <li>Allowing another student to access your code. (Example: Do not host your code in a public
                    repository)
                </li>
                <li>Copying a large amount of code found on the Internet into your submission.</li>
            </ul>

        </div>


        <div class="well">
            <div><h2>Grading</h2></div>
            <br/>
            <div class="alert alert-warning">
                There is no curve for this course. There will be no changes to the grading policies or grade cutoffs.
            </div>

            All grading will be out of 4 points and final grades will be the average of all grades based on their
            weight.
            Final letter grades will be determined by the following cutoffs:
            <br/><br/>

            <table class="table table-bordered table-skinny">
                <tr>
                    <td>> 3.66</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>3.34-3.66</td>
                    <td>A-</td>
                </tr>
                <tr>
                    <td>3.00-3.33</td>
                    <td>B+</td>
                </tr>
                <tr>
                    <td>2.67-2.99</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>2.34-2.66</td>
                    <td>B-</td>
                </tr>
                <tr>
                    <td>2.00-2.33</td>
                    <td>C+</td>
                </tr>
                <tr>
                    <td>1.67-1.99</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>1.34-1.66</td>
                    <td>C-</td>
                </tr>
                <tr>
                    <td>1.00-1.33</td>
                    <td>D</td>
                </tr>
                <tr>
                    <td>< 1.00</td>
                    <td>F</td>
                </tr>
            </table>


            <div><h4>Assignment</h4></div>
            <div class="alert alert-warning">No late submissions will be accepted. Late submissions will result in a grade
                of 0.
            </div>


        </div>
        <div class="well">
            <div><h2>Contact Information</h2></div>
            <br/>

            Instructor: Jesse Hartloff<br/>
            Office: Davis 344<br/>
            Email: hartloff@buffalo.edu

        </div>

        <!--<div class="well">-->
            <!--<div><h2>Lectures</h2></div>-->
            <!--<br/>-->
            <!--MWF 12:00 - 12:50pm, NSC 215-->
        <!--</div>-->


        <div class="well">

            <div><h2>Course Description</h2></div>
            <br/>
            <a href="http://undergrad-catalog.buffalo.edu/coursedescriptions/index.php?frm_abbr=CSE&frm_num=442">Catalog
                Description</a>
            <br/>

        </div>



        <div class="well">
            <div><h2>University/Department Policies and Services</h2></div>

            <ul>
                <li>Counseling: <a href="http://www.student-affairs.buffalo.edu/shs/ccenter">http://www.student-affairs.buffalo.edu/shs/ccenter/</a>
                </li>
                <li>Disabilities: <a href="http://www.student-affairs.buffalo.edu/ods/">http://www.student-affairs.buffalo.edu/ods/</a>
                </li>
                <li>Grading: <a href="http://undergrad-catalog.buffalo.edu/policies/grading/explanation.shtml">http://undergrad-catalog.buffalo.edu/policies/grading/explanation.shtml</a>
                </li>
            </ul>
        </div>
    </div>
</div>